@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.job {
  color: rgb(66, 143, 56);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 50px;
  background-size: cover;
  background-image: url(../assets/images/background.jpg);
  font-size: 25px;
}

.redes-sociales{
  list-style-type: none;
  display: flex;
  gap: 85px;
}

.redes-sociales li img {
  width: 55px;
  color: white;
}